extends ./base.pug

block title
    title= title

block content
    article
        h1 Admin

        p Här finnes konfiguration och verktyg för administratörer.

    article
        h1 Artiklar

        h2
            a(href="/admin/editor").
                Skapa ny artikel
        table.center
            each art in articles
                tr
                    td
                        a(href="/admin/editor/" + art._id)
                            b= art.title
                    td
                        time= art.posted

    article
        h1 Verktyg

        .tools-form.center
            //- For creating new tools
            h1 Skapa

            form#new-form(action='/db/tools/new', method='post')
                input#new-name(type='text', name='name', placeholder='Namn')
                br
                input#new-amount(type='number', step='1', name='amount', placeholder='Antal')
                br
                button(type='submit', onclick='submitNew()') Skicka

        table.center
            each tool in tools
                tr
                    td= tool.name
                    td
                        form(id='update-'+tool._id, action='/db/tools/update', method='post')
                            input(type='hidden', name='id', value=String(tool._id))
                            input(id='amount-'+tool._id, type='number', step='1', name='amount', value=tool.amount)
                            input(type='submit', value='Uppdatera', onclick='submitUpdate("'+tool._id+'")')
                    td
                        form(id='remove-'+tool._id, action='/db/tools/remove', method='post')
                            input(type='hidden', name='id', value=String(tool._id))
                            input(type='submit', value='Ta bort', onclick='submitRemove("'+tool._id+'")')

    script(type='text/javascript', src='/js/admin.js')