extends ./base.pug

block title
    title= title

block link
    -var selected = 'Hem';

block banner
    div#big-banner
        .title-bar
            b Datateknologsektionens
            img(src="/images/drust16.png")
            b Rustmästeri

block header
    a(href="javascript:void(0)")#hamburger.nav-item &#x1f354;
    nav#site-nav
        each link, name in menu
            if name === selected
                a.active(href=link).nav-item= name
            else
                a(href=link).nav-item= name

block content
    if articles.success
        each art in articles.payload
            article.news-article(id="article-" + art._id)
                header
                    .wrapper
                        h2= art.title
                        time= art.posted

                .body !{art.body}
    else
        h2 OH NO ERROR ERROR ABORT ABORT
