extends ./base.pug

block link
    -var selected = 'Verktyg';

block title
    title= title

block includes
    link(rel='stylesheet', href='/stylesheets/libs/pikaday.css')


block content
    article
        h1 Låna Verktyg

        p.center Vill du låna verktyg av DRust? Fyll i detta formulär så hör vi av oss.
        hr(style='width:50%;color:gray')
        .tools-form.center
            form(action='/verktyg/submit', method='post')
                input(type='text', name='name', placeholder='Namn')
                br
                input(type='text', name='email', placeholder='Mail')
                br
                input(type='text', name='start-date' id='datepickerStart', placeholder='Startdatum')
                br
                input(type='text', name='end-date', id='datepickerEnd', placeholder='Återlämningsdatum')
                br
                p Vilka verktyg vill du låna?
                ul(id='tool-list')
                .select-wrapper
                    select(name='tool', onchange='setNumber()', id='select-tool')
                        each t in tools
                            option(value=t.name)= t.name
                    input(type='number', id='select-number', min='1', value='1', max=tools[0].amount)
                br
                button(type='button' onclick='addTool()') Välj
                br
                button(type='submit') Skicka

        //- testing
        each t in tools
            p= t

    script(type='text/javascript', src='/js/verktyg-bundle.js')
    script.
        var tools = !{JSON.stringify(tools)}; // For getting the 'tools' variable from pug
    script
        :babel
            'use strict';

            const select = document.getElementById('select-tool');
            const num = document.getElementById('select-number');

            function setNumber() {
                num.value = 1;
                num.max = tools[select.selectedIndex].amount; // Can't borrow more than the amount of the tool we currently have
            }

            function addTool(){
                const list = document.getElementById('tool-list');
                const li = document.createElement('li');
                const tool = tools[select.selectedIndex];
                li.appendChild(document.createTextNode(tool.name + ' : ' + num.value));
                list.appendChild(li);
                select.remove(select.selectedIndex);
                const index = tools.indexOf(tool);
                tools.splice(index, 1);
                setNumber();
            }